$t-l-color-blue-600: #004b83;
$t-l-color-blue-500: #006699;
$t-l-color-blue-100: #ebf6ff;
$t-l-color-greyscale-500: #d5d5d5;
$t-l-color-greyscale-100: #eeeeee;
$t-l-color-yellow-500: #fece3e;
$t-l-color-red-800: #940720;
$t-l-color-red-500: #ed1c24;
$t-l-color-red-300: #f15a40;
$t-l-color-greymetal-800: #29303c;
$t-l-color-greymetal-500: #536179;
$t-l-color-greymetal-300: #c2c9d6;
$t-l-color-black: #000000;